@import "../../../../common/vars";
@import "../../../../common/mixins";

.other-resources-screen {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  @include for-phone-only {
    margin-top: 60px;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -16px;
    width:400px;
    @include for-phone-only {
      width:320px;
    }
  }
  &__resources-col3 {
    width: 33%;
  }

  &__resources-col2 {
    width: 50%;
  }
  &__facebook-wrapper{
    margin-left: 32%;
  }
  &__media-wrapper{
    margin-left: -32%;
  }
  &__item {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__item-underline {
    border: 0;
    background-color: deeppink;
    height: 3px;
    cursor: pointer;
    width: 100%;
  }

  &__arrow-green-icon {
    height: 56px;
    width: 26px;
    margin-left: -420px;
    transform: rotate(22deg);
    //width: 94px;
    //height: 100px;
    margin-right: 16px;
    margin-top: 8px;
    background-size: contain !important;
    background-position: center !important;

    background: url('../images/Arrow_green.png') no-repeat;
    @include for-phone-only {
      background: url('../images/Arrow_green.png') no-repeat;
    }
    @include for-phone-only-retina {
      background: url('../images/Arrow_green.png') no-repeat;
    }
    @include for-desktop-up-retina {
      background: url('../images/Arrow_green.png') no-repeat;
    }
  }
}