@import "../../common/vars";
@import "../../common/mixins";

.header {
  position: fixed;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: calc(100% - 32px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);
  background: #ffffff;
  z-index: 1;
  @include for-tablet-portrait-up {
    height: 70px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 936px;
  }

  &_header-without-shadow {
    box-shadow: none;
  }

  &__title {
    font-family: $font-family;
    font-size: 18px;
    @include for-tablet-portrait-up {
      font-family: $font-family-alternative;
      font-size: 24px;
    }
  }

  &__logo-image {
    background: url('images/logo.png') no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-size: contain;
    @include for-tablet-portrait-up {
      width: 25px;
      height: 25px;
      margin-right: 11px;
      margin-top: 1px;
    }
  }

  &__title-with-logo {
    display: flex;
    flex-direction: row;
  }

  &__close-contact-popup-button {
    background: url('images/close-button.png') no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
  }

}