@import "../../common/vars";
@import "../../common/mixins";

.link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #10BBFF;
  border-bottom: 1px solid #10BBFF;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 0;
  font-weight: 400;
  @include for-tablet-portrait-up {
    font-family: $font-family-alternative;
  }
}