.visa-application-form__{
  &schengen-visa-header_container{
    padding: 32px 0px;
    display: flex;
  }
  &schengen-visa-header {
    display: inline;
    padding-right: 16px;
    height: 22px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
  }
  &add-schengen-visa-button{
    margin-top: 16px;
  }
  &add-schengen-visa-button_plus{
    font-size: 28px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 23px;
    border: 2px solid #FF815F;
    padding: 3px;
    margin-right: 16px;
  }
}
