@import "../../common/vars";
@import "../../common/mixins";


.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: calc(100% - 32px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);
  background: #15B798;
  color: white;
  z-index: 2;
  @include for-tablet-portrait-up {
    height: 70px;
  }
  &__icon-container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 936px;
    justify-content: space-between;
  }

  &__furnas-item {
    padding-left: 156px;
  }
  &__blog-item {
    padding-left: 36px;
  }
  &__icon{
    width: 24px;
    height: 24px;
    padding: 0 8px;
  }
  &__vk-icon_child {
   background-color: white;
    background: url('images/Vk.svg') no-repeat;
  }
  &__facebook-icon_child {
    background: url('images/Facebook.svg') no-repeat;
  }
  &__instagram-icon_child {
    background: url('images/Instagram.svg') no-repeat;
  }
  &__media-icon_child {
    background: url('images/Media.svg') no-repeat;
  }
}