@import "../../../../common/vars";
@import "../../../../common/mixins";

.choose-person-screen {
  margin-top: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include for-phone-only {
    margin-top: 60px;
  }

  &__title {
    max-width: 550px;
    line-height: 29px;
    font-size: 24px;

    @include for-phone-only {
      font-size: 16px !important;
      text-align: left !important;
      line-height: 24px !important;
      padding-left: 16px;
    }
  }

  &__any-route-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: $font-family;
    @include for-phone-only {
      width: calc(100% - 32px);
      padding-top: 60px;
    }

  }
  &__any-route-container-item {
    padding-bottom: 24px;
    color: #2E2E31;
    @include for-phone-only {
      font-size: 14px !important;
      text-align: left !important;
      line-height: 20px !important;
    }
  }

  &__any-route-container-title {
    @include for-phone-only {
      align-self: flex-start;
      font-size: 16px !important;
      text-align: left !important;
      line-height: 24px !important;
      padding-bottom: 8px !important;
    }
  }

  &__persons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin-top: 64px;
    @include for-phone-only {
      width: 100%;
      margin-top: 32px;
      flex-direction: row;
    }
  }
  .persons-container-col3 {
    flex-basis: 33%;
  }

  .persons-container-col2 {
    flex-basis: 50%;
    @include for-phone-only {
      flex-basis: 33%;
    }
  }

  &__person {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @include for-phone-only {
      margin: 15px 0;
    }
  }
  &__housewife-wrapper {
    margin-left: 32%;
    @include for-phone-only {
      margin-left: 0;
    }
  }
  &__schoolchild-wrapper {
    margin-left: -32%;
    @include for-phone-only {
      margin-left: 0;
    }
  }
  &__person-icon {
    height: 100px;
    background-size: contain !important;
    background-position: center !important;
    margin-bottom: 24px;

    @include for-phone-only {
      height: 55px;
      margin-bottom: 12px;
    }
  }

  &__link {
    @include for-phone-only {
      font-size: 12px !important;
    }
  }

  &__documents-list-button {
    @include for-phone-only {
      align-self: flex-start;
    }
  }
}