@import "../../common/vars";
@import "../../common/mixins";

.block-text {
  font-family: $font-family;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #333333;

  @include for-tablet-portrait-up {
    font-family: $font-family-alternative;
  }

}