@import "../../common/vars";
@import "../../common/mixins";

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    margin-top: 100px;
    max-width: 700px;
    padding: 0 20px;

    @include for-desktop-up {
      margin-top: 200px;
    }

    @include for-big-desktop-up {
      margin-top: 300px;
    }
  }

  &__doc-list-btn {
    padding-left: 25px;
  }

}

.home__content {

  & ul.list-item li {
    color: #39ccb0;
    padding-bottom: 30px;

    & span {
      color: #2E2E31;
    }
  }

  & ul.list-item li:last-child {
    padding-bottom: 23px;
  }

  &__flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    @include for-phone-only {
      width: 100%;
      flex-direction: column;
    }
  }

  &__rectangle-2 {
    margin: 16px 32px;
    padding: 16px 32px;
    //height: 278px;
    width: 30%;
    //width: 364px;
    border: 1px solid #39CCB0;
    border-radius: 18px;
    @include for-phone-only {
      width: 100%;
      margin: 0;
      margin-top: 16px;
      box-sizing: border-box;
    }
  }

  &__tourist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    @include for-phone-only {
      width: 100%;
      flex-direction: column;
    }
  }

  &__tourist-item {
    margin: 16px 32px;
    padding: 16px 32px;

    //width: 18%;

    border: 1px solid #39CCB0;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    text-align: center;
    //align-items: center;
    //justify-content: center;
  }
  .line {
    border: 0;
    background-color: deeppink;
    height: 3px;
    cursor: pointer;
  }
}

.tourist {
  width: 94px;
  height: 100px;
  margin-right: 8px;
  margin-top: 1px;
  background-size: contain !important;

  &__icon_child {
    background: url('screens/images/child.png') no-repeat;
  }
  &__icon_business {
    background: url('screens/images/business.png') no-repeat;
  }
  &__icon_employee {
    background: url('screens/images/employee.png') no-repeat;
  }
  &__icon_housewife {
    background: url('screens/images/housewife.png') no-repeat;
  }
  &__icon_idle {
    background: url('screens/images/idle.png') no-repeat;
  }
  &__icon_schoolchild {
    background: url('screens/images/schoolchild.png') no-repeat;
  }
  &__icon_retiree {
    background: url('screens/images/retiree.png') no-repeat;
  }
  &__icon_student {
    background: url('screens/images/student.png') no-repeat;
  }

}

