@import "../../common/vars";
@import "../../common/mixins";

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__content {
  margin-top: 100px;
  max-width: 700px;
  padding: 0 20px;

  & ul.list-item li {
    color: #39ccb0;
    padding-bottom: 30px;

    & span {
      color: #2E2E31;
    }
  }

  & ul.list-item li:last-child {
    padding-bottom: 23px;
  }

  &__flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    @include for-phone-only {
      width: 100%;
      flex-direction: column;
    }
  }

  &__rectangle-2 {
    margin: 16px 32px;
    padding: 16px 32px;
    //height: 278px;
    width: 30%;
    //width: 364px;
    border: 1px solid #39CCB0;
    border-radius: 18px;
    @include for-phone-only {
      width: 100%;
      margin: 0;
      margin-top: 16px;
      box-sizing: border-box;
    }
  }

  &__tourist-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    @include for-phone-only {
      width: 100%;
      flex-direction: column;
    }
  }

  &__tourist-item{
    margin: 16px 32px;
    padding: 16px 32px;

    width: 18%;

    border: 1px solid #39CCB0;
    border-radius: 18px;
  }
}

.home__doc-list-btn {
  padding-left: 25px;

  & button{
    border-radius: 25px;
  }
}
