@import "../../../../common/vars";
@import "../../../../common/mixins";

.radio-button-item {
  width: 50%;
  padding-bottom: 16px;

  &__input {
    font-family: $font-family;
    width: 16px;
    height: 16px;

    font-size: 18px;
    line-height: 21px;
    vertical-align: middle;
  }

  &__label {
    font-family: $font-family;
    font-size: 18px;
    line-height: 21px;

    padding-left: 8px;
    color: #333333;
  }
}

.radio-buttons-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
