@import "../../common/vars";
@import "../../common/mixins";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar {
  margin-top: 140px;
  //overflow: hidden;
  //background-color: transparent;
  //top: 0;
  //width: 100%;
}

.navbar a {
  float: left;
  display: block;

  text-align: center;
  padding: 8px 16px;
  margin: 0px 16px;
  text-decoration: none;

  background: #FFE6DF;
  border-radius: 26px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #7B7B7B;
}

.navbar a:hover, .navbar a.active {
  background: #FF815F;
  color: #FFFFFF;
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
