@import "../../common/vars";
@import "../../common/mixins";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-mobile  {
  display: flex;
  //flex-direction: column;
  width: 100%;
  margin-top: 100px;
  @include for-tablet-portrait-up {
    display: none;
  }
}

.navbar {
  margin-top: 140px;
  @include for-phone-only {
    display: none;
  }
  //overflow: hidden;
  //background-color: transparent;
  //top: 0;
  //width: 100%;
}

.navbar a,
.navbar-mobile a{
  float: left;
  display: block;


  text-align: center;
  padding: 8px 16px;
  margin: 0px 16px;
  text-decoration: none;

  background: #FFE6DF;
  border-radius: 26px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  z-index: 2;

  color: #7B7B7B;

  @include for-phone-only{
    font-size: 18px;
    color: white;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    padding: 0px;
    line-height: 24px;
  }
}
.navbar-mobile .line {
  position: absolute;
  left: 14.69%;
  right: 12.5%;
  //top: 13.14%;
  top: 110px;
  bottom: 94.78%;
  z-index: 1;

  mix-blend-mode: normal;
  opacity: 0.5;
  border-bottom: 2px dashed #FF815F;
}

.navbar a:hover, .navbar a.active,
.navbar-mobile a:hover, .navbar-mobile a.active{
  background: #FF815F;
  color: #FFFFFF;
}
.navbar-mobile span{
  position: relative;
  z-index: 2;
}

.navbar-mobile label{
  position: absolute;
  left: 0px;
  top: 32px;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}