@import "../../common/vars";
@import "../../common/mixins";

.title {
  font-family: $font-family;
  font-size: 28px;
  color: $font-color-black;
  font-weight: normal;
  text-align: center;
  @include for-phone-only {
    font-size: 18px;
    line-height: 24px;
  }
}